
<div class="app" [class.dark-theme] = "isDark">
  <p class="loader"[class.load]="load"></p>
  <button
    mat-raised-button
    (click)="onToggleDarkMode()"
    color="primary"
    class='theme' 
    >
      <i title="toggle darkmode"class="theme-icon fas fa-sun"></i> 
  </button>
  
  <app-topbar (toggleSidebar) = "onToggleSidebar($event)">
  </app-topbar>

 
  
  <app-sidebar [showSidebar] = "showSidebar">
    <div *ngIf="loggedIn" class="welcome">
      <img class="bg-img" src="../assets/white-pattern.jpg" alt="">
      <div class="content">
        <div class="page">
          <h1>{{tab}}</h1>
          <h2>{{pageDescription}}</h2>
        </div>
        <div class="nav">
          <a class="home-link"[routerLink]="['/']" routerLinkActive="router-link-active"  >
            <i class="fas fa-home"></i>
          </a>       
          <i class="fas fa-angle-right"></i>  
          <span>{{tab}}</span>
          <i *ngIf="page" class="fas fa-angle-right"></i> 
          <span >{{page}}</span> 
        </div>
      </div>
    </div>
    <router-outlet>

    </router-outlet>
  </app-sidebar>
  

</div>
