<div class="login">
 
   <div class="top"></div>
   <div class="form">
      <i class="fas fa-user"></i>
      <h2>Login</h2>
      <app-dialog
         *ngIf="showError"
         action = 'error'
         [message] = "errorMessage"
         (selected) ="selected($event)">

      </app-dialog>
      <mat-form-field class="input">
         <mat-label>Email</mat-label>
         <input
            required
            minlength="8"
            email 
            type="email" 
            name="email"
            ngModel         
            placeholder="email@example.com" 
            #email = "ngModel"
            matInput >
         <mat-error *ngIf="email.invalid && email.errors.required">
            Email is required
         </mat-error>
         <mat-error *ngIf="email.invalid && email.errors.email">
            Your email is invalid
         </mat-error>
      </mat-form-field>
   
      <mat-form-field class="input">
         <mat-label>Password</mat-label>
         <input 
            required
            minlength="8"
            type="password" 
            name="password"
            ngModel
            #password="ngModel"
            matInput >
            <mat-error *ngIf="password.invalid && password.errors.required">
               password is required
            </mat-error>
            <mat-error *ngIf="password.invalid && password.errors.minlength">
               Password should be atleast {{password.errors.minlength.requiredLength ||8 }} characters long
            </mat-error>
      </mat-form-field>
      <button 
         class="submit-btn" 
         mat-flat-button 
         color="primary" 
         (click)="onSubmit(email.control.value,password.control.value)">
         Login
      </button>
   </div>
   
   
</div>
