.permissions{
   width:90%;
   margin:auto;
   h2{
      text-align: center;
      color:var(--primary);
   }
   .content{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      ul{
         list-style: none;
         width:max-content;
         border:1px solid var(--white);
         padding: 5px;
         margin:5px auto;

         p{
            text-align: center;
            text-transform: capitalize;
            font-size: 1rem;
            margin:5px;
            opacity: 0.90;
            color: var(--primary);
         }

         li{
            display:grid;
            grid-template-columns: 2fr 1fr;
            grid-gap:5px;
            span{
               color: var(--color);
               opacity:0.80;
               font-size: 0.9rem;
            }
         }
      }

      input[type=checkbox]{
         -moz-appearance:none;
         -webkit-appearance:none;
         -o-appearance:none;
         appearance:none;
         width:20px;
         height:20px;
         background-color: var(--white);
         border:1px solid var(--accent);
         outline:none;
         border-radius: 50%;
         padding:2px;
         margin:5px;
         transform: translateY(-20%);
      }
      input[type=checkbox]:checked{
         outline: none;
         background-color: var(--accent);
      }
   }
}


@media only screen and (max-width:600px){
   
   .permissions{
      width:98%;
      margin:auto;
      .content{
         display: grid;
         grid-template-columns: 1fr 1fr;
      }
   }
}